<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
    <% products.forEach((item)=>{ %>
        <p>
            id: <%=item.id%><br/>
            Titulo: <%=item.nombre%><br/>
            Precio: <%=item.precio%><br/>
            Duracion: <%=item.duracion%> minutos<br/>
            Frecuencia: <%=item.frecuencia%> dias por semana<br/>
            <img class="product-img" src="<%=item.thumbnail %>"/><br/>
        </p>
    <% }) %>

    <br/>
    <br/>
    <br/>

    <a href="http://localhost:8080/form" class="btn">Ingresar nuevo producto</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <%- include('../partials/footer'); %>
  </body>
</html>
