<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>

    <%- include('../partials/navbar'); %>
    <br/>

    <h1><%=title%></h1>

        
        <div>
          <p>
            Id: <%=producto.id%>
            <br/>
            <%=producto.nombre%>
            <br/>
            Duracion: <%=producto.duracion%> minutos
            <br/>
            Frecuencia: <%=producto.frecuencia%> dias a la semana
            <br/>
            Precio: $<%=producto.precio%>
          </p>
            <br/>
            <br/>
            <img src="<%=producto.thumbnail%>" class="product-img"/>
        </div>

    <br/>
    <%- include('../partials/footer'); %>
    <br/>
  </body>
</html>
  